body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 20px;
  color: white;
}
h1,
.h1 {
  font-size: 50px;
  line-height: 55px;
}
h2,
.h2 {
  font-size: 30px;
  line-height: 33px;
}
h3,
.h3 {
  font-size: 24px;
  line-height: 26px;
}
h4,
.h4 {
  font-size: 18px;
  line-height: 20px;
}
h5,
.h5 {
  font-size: 14px;
  line-height: 15px;
}
h6,
.h6 {
  font-size: 12px;
  line-height: 13px;
}

p {
  font-family: "Lato", sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content-wrap {
  max-width: none;
  margin: 0 auto;
  /* overflow: hidden; */
  background: #0a0a0a;
}

/* BLOG HERO */

.hero-banner {
  min-height: 450px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-banner .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

.hero-banner .info {
  position: relative;
  width: 100%;
  padding: 80px 0;
}

.hero-banner .info h1,
.hero-banner .info h2,
.hero-banner .info .h1,
.hero-banner .info .h2 {
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
}

/* BLOG CONTENT */
/* Main Content */
.blog-content {
  display: flex;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.blog-content p {
  font-size: 18px;
  line-height: 1.5;
}
.blog-intro {
  margin-top: 2rem;
}
.blog-content-item {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}
/* .blog-content-item:first-child {
  margin-top: 0;
} */

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}

.text-first {
  flex-direction: row-reverse;
}

.blog-item-right {
  display: flex;
  flex-direction: column;
}

.blog-item-date {
  display: block;
  margin-top: 8px;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}
.float-right {
  float: right !important;
}

.url {
  text-decoration: underline;
}

.blog-item-date svg {
  width: 0.875em;
  display: inline-block;
  vertical-align: -0.125em;
}

.blog-content-description {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.btn {
  padding: 10px 30px;
  margin-right: 10px;
  margin-left: 10px;
  width: fit-content;
  border: 1px solid white;
  transition: 0.3s background-color ease;
}
a {
  transition: 0.3s color ease;
}
.btn:hover {
  background-color: #c9562a;
  border: 1px solid #c9562a;
  color: white;
}
a:hover {
  color: #c9562a;
}

.blog-outro {
  margin-top: 4rem;
  padding-top: 3rem;
  border-top: 0.5px solid white;
}

/* Side Content */
.side-content {
  padding-left: 2rem;
}

.side-block {
  margin-bottom: 3rem;
}

.side-block .block-title {
  padding: 0.5rem 1.1rem;
  margin: 0;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.1);
}

.side-block .block-content {
  margin-top: 1rem;
}

.side-news {
  padding: 0.5rem 0;
  text-align: left;
  display: flex;
  gap: 1rem;
}

.side-news img {
  height: auto;
}

.side-news h4 {
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
}

/* getting 3 dots when the width is limited */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* FOOTER */
footer {
  text-align: center;
  padding-bottom: 2rem;
}

.footer-links {
  padding: 2rem 0;
}

/* POLICY and T&C Page Styles */
#page-main,
#page-header {
  color: white;
}
#page-header h1 {
  margin-bottom: 1rem;
  text-align: center;
}

#page-main p,
#page-main ol {
  margin-bottom: 0.5rem;
}
#page-main ol,
#page-main ul {
  padding-left: 2rem;
}
#page-main p,
#page-main li {
  font-size: 1.2rem;
  line-height: 1.2;
}
#page-main h3 {
  margin-bottom: 0.5rem;
}
#page-main h1 {
  font-size: calc(1.375rem + 1.5vw);
}
#page-main h3 {
  font-size: calc(1rem + 1vw);
  line-height: 1.2;
}
/* POLICY and T&C Page Styles End */

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .hero-banner .info {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .blog-content {
    flex-direction: column;
  }
  .blog-content-item {
    flex-direction: column;
    margin-top: 6rem;
  }
  .blog-content-item img {
    width: 100%;
  }
  .side-content {
    padding-left: 0;
    margin-top: 6rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  h1 {
    font-size: 2.5rem;
  }
}

/* ARTICLE PAGES */
/* HERO Section */
.hero-banner.xsmall {
  min-height: 350px;
  opacity: 0.5;
}
.hero-banner img {
  opacity: 0.7;
}

.article p {
  margin-block: 1rem;
}

/* PUBLISHING INFO */
.publishing-info {
  margin-top: 3rem;
}
.publishing-info .item {
  display: inline-block;
  margin-right: 2rem;
}

.publishing-info svg {
  margin-right: 3px;
  font-size: 1rem;
  vertical-align: -0.125em;
  width: 0.875em;
  display: inline-block;
  height: 1em;
}

.publishing-info .item:nth-child(3) > svg {
  width: 1.125em;
}

/* Columns */

.col-xs-3 {
  width: 25%;
}
.col-xs-9 {
  width: 75%;
}

@media (min-width: 992px) {
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
}
